<!-- contact.html -->
<div class="contentContainer pageContact">


    <div class="contentFull">

        <div class="header">
            <div>
                <a href="/#contact">Contact</a>
                <a class="inactive" href="/#portfolio">Portfolio</a>
            </div>

        </div>

        <div class="contentHalf contactForm">
            <p>Fill out the form below and I'll get back to you as soon as possible</p>

            <form ng-submit="submit()" ng-controller="contactController">

                <label>Name: </label><br/>
                <input type="text" ng-model="name" name="name" value="Name"/><br/>

                <label>Email: </label><br/>
                <input type="text" ng-model="email" name="email" /><br/>

                <label>Message: </label><br/>
                <textarea ng-model="mail" name="mail"></textarea><br/>
                <input type="submit" id="submit" value="Submit" /><br/>
                <p ng-show="showAlert" class="{{ alertClass }} fadein fadeout">{{ alertMessage }}</p>
            </form>
        </div>

        <div id="divInstaFeed" class="contentHalf grid">
            <a class="small" ng-repeat="pic in instaPics" href="{{pic.link}}" target="_blank">
                <img ng-src="{{pic.images.low_resolution.url}}"/>
            </a>
        </div>

    </div>



</div>